{% extends 'layout.html' %}

{% block body %}


<h3>Şifre değiştir</h3>
<hr>
<form method="POST" action = "/changingpasswordTwo">
    <label for="email">{{attribute}} giriniz :</label>
    <input type="text" name="result" class="form-control" required>
    <input type="hidden" name="value" class="form-control" value="{{value}}">
    <input type="hidden" name="attribute" class="form-control" value="{{attribute}}">
    <br>
    <button class="btn btn-dark">Sorgula</button>
</form>
{% endblock body %}